@media (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;


    width: 270px;
    background-color: @color-white;

    border-radius: 25px;

    padding: 15px 25px;
  }


  .footer__logo-mobile {
    margin: 0 auto;
    margin-top: 30px;
  }


  .footer__logo-tablet {
    display: none;
  }


  .footer__logo-desktop {
    display: none;
  }
}


@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 688px;

    padding: 45px 40px;
  }


  .footer__logo-mobile {
    display: none;
  }


  .footer__logo-tablet {
    display: block;
  }
}


@media (min-width: 1438px) {
  .footer {
    width: 1320px;
    min-height: 65px;

    padding: 45px 60px;
  }


  .footer__logo-tablet {
    display: none;
  }


  .footer__logo-desktop {
    display: block;
  }
}
