@media (min-width: 320px) {
  .social {
    margin: 15px auto;
  }


  .social__list {
    display: flex;
    flex-wrap: wrap;

    .liststyle();
  }


  .social__link {

    .linkstyle();

    .boxsetcolor(45px; 45px; @color-yellow);
    border-radius: 50%;

    display: flex;
    flex-wrap: wrap;

    &:focus,
    &:hover {
      background-color: @color-darkyellow;
    }
  }

  .social__icon {
    margin: auto;
    fill: @color-cyan;
  }

  .social__link:active .social__icon {
    fill: @color-datesbuttonactive;
  }

  .social__facebook {
    width: 11px;
    height: 21px;
  }

  .social__vk {
    width: 23px;
    height: 12px;
  }

  .social__instagram {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .social__link {
    .boxsetcolor(60px; 60px; @color-yellow);
  }
}
