@color-blue: rgba(25, 33, 68, 1);
@color-feedbackyellow: rgba(18, 25, 54, 1);
@color-navy: rgba(22, 28, 53, 1);
@color-cyan: rgba(29, 46, 91, 1);
@color-lightblue: rgba(226, 229, 242, 1);
@color-middleblue: rgba(165, 170, 189, 1);
@color-greyblue: rgba(214, 218, 237, 1);
@color-white: rgba(255, 255, 255, 1);
@color-darkorange: rgba(255, 141, 48, 1);
@color-lightorange: rgba(255, 165, 48, 1);
@color-darkyellow: rgba(255, 189, 48, 1);
@color-yellow: rgba(255, 215, 75, 1);
@color-tomato: rgba(255, 92, 35, 1);
@color-grey: rgba(237, 239, 246, 1);
@color-darkgrey: rgba(68, 68, 68, 1);
@color-bluegrey: rgba(243, 244, 248, 1);
@color-levelgrey: rgba(102, 102, 102, 0.6);
@color-lightgrey: rgba(199, 199, 199, 1);
@color-middlegrey: rgba(223, 227, 240, 1);
@color-buttongrey: rgba(178, 178, 178, 1);
@color-cyangrey: rgba(187, 192, 205, 1);
@color-planblue: rgba(212, 217, 235, 1);
@color-borderbox: rgba(203, 206, 217, 1);
@color-border-sidebar: rgba(243, 199, 43, 1);
@color-ground: rgba(20, 27, 59, 1);
@color-addprofile: rgba(225, 227, 233, 1);

@color-trvalers--orange: rgba(249, 118, 118, 1);
@color-trvalers--green: rgba(129, 227, 30, 1);
@color-nation_cell: rgba(186, 190, 207, 1);
@color-transport--img: rgba(237, 239, 246, 1);
@color-profile--foto: rgba(223, 227, 240, 1);
@color-almost-white: rgba(237, 239, 246, 1);
@color-develop: rgba(242, 242, 242, 1);

@color-textactive: rgba(185, 140, 50, 1);
@color-generallinkhover: rgba(242, 105, 38, 1);
@color-main-navactive: rgba(92, 84, 60, 1);

@color-fotoswaphover: rgba(209, 215, 233, 1);
@color-borderhover: rgba(174, 180, 203, 1);
@color-inputtextactive: rgba(136, 136, 139, 1);

@color-planshover: rgba(95, 96, 98, 1);
@color-plansactive: rgba(213, 215, 221, 1);
@color-dateshover: rgba(149, 155, 178, 1);
@color-dateschosen: rgba(16, 29, 65, 1);

@color-datesbuttonactive: rgba(187, 146, 61, 1);
@color-required: rgba(255, 239, 239, 1);
@color-textrequired: rgba(255, 0, 0, 1);
@color-borderrequired: rgba(244, 126, 126, 1);

@color-iconactive: rgba(90, 75, 52, 1);
@color-text-adressactive: rgba(94, 100, 124, 1);

@color-transport-icon-grey: rgba(217, 217, 217, 1);

@color-addprofile-focus: rgba(84, 97, 156, 1);
@color-addprofile-active: rgba(171, 178, 207, 1);
